* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #1f2937;
  min-height: 100vh;
}

.Landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
}

.header {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.header .header-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 30%;
}

.header-logo h2 {
  font-size: 24px;
  color: #e5e7eb;
}

.header-logo p {
  display: flex;
  font-size: 18px;
  color: #f9faf8;
  gap: 50px;
}

.header .header-content {
  height: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-content .left-content {
  display: flex;
  flex-direction: column;
  /* width: 37%; */
  gap: 10px;
}

.header-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header-content p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-content button {
  background-color: #3882f6;
  color: #f9faf8;
  width: 120px;
  height: 35px;
  border-radius: 10px;
}

.header-content .img-placeholder {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  background-color: #53555a;
  text-align: center;
  justify-content: center;
}

.main-content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.random-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.random-info h1 {
  font-size: 36px;
  color: #1f2937;
}

.random-info .square-text {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}

.random-info .square {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.random-info .square .img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  border: solid 5px #3882f6;
}

.main-content .quote {
  background: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.quote .quote-text {
  width: 64%;
  padding: 50px;
}

.quote-text :first-child {
  /* text-align: initial; */
  font-style: italic;
}

.quote-text :last-child {
  font-weight: 900;
  text-align: right;
  font-size: 25px;
}
.CTA {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.CTA .Square-CTA {
  width: 80%;
  background: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  align-items: center;
}

.Square-CTA .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text h2 {
  font-size: 25px;
  font-weight: 500;
}

.text p {
  font-size: 18px;
  color: #c9ccd4;
}

.Square-CTA button {
  border-radius: 10px;
  color: #f9faf8;
  background-color: #3882f6;
  border: solid 3px #f9faf8;
  width: 120px;
  height: 40px;
  font-size: 18px;
}

.footer {
  width: 100%;
  /* height: 80; */
  background: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 40px;
  flex-shrink: 0;
}
